.distributer-trackingTable-container{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    justify-content: space-between;
    background-color: rgb(187, 227, 252);
    font-family: 'Noto Sans';
}
.distributer-trackingTable-container .distributer-TrackingTable-head{
    text-align: center;
    padding-bottom: 2rem;
    color: black;
    
}
.request-table{
    -webkit-box-shadow: 2px 2px 9px 2px rgb(146, 146, 146);
-moz-box-shadow: 2px 2px 9px 2px rgb(146, 146, 146);
box-shadow: 2px 2px 9px 2px rgb(146, 146, 146);
background-color: aliceblue;
 color: black;
height: 30rem;
 overflow-y: scroll;
}
.table-body{
    color: black;
    font-family: 'Noto Sans';
}
